.headbox{
    background-image: linear-gradient(to right,red,green,yellow);
    text-align: center;
    text-decoration: underline;
    font-size: larger;
    font-weight: bolder;
}

ul{
    list-style-position: inside;
    margin-left: 300px;
    
}

.listbox{
    margin: auto;
    margin-top: 10px;
    border: 4px red solid;
    border-radius: 25px;
    background-color: aqua;
    width: 60%;
}

.container1{
    margin-top: 10px;
    border: 2px red solid;
    border-radius: 15px;
    background-color: greenyellow;
}
.block{
    display: inline-block;
    background-color: indianred;
    border: 3px green solid;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width:30%;
    text-align: center;
}

.block4{
    margin-top: 5px;
    margin-left: 440px;

}

.subbox{
    margin-top: 10px;
    background-image: linear-gradient(to right,red,yellow,red);
    text-align: center;
    text-decoration: underline;
    font-size: larger;
    font-weight: bolder;
}

.container2{
    margin-top: 10px;
    background-image: radial-gradient(blue,green);
    padding: 60px;
}

.box{
    display: inline-block;
    border:3px red solid;
    border-radius: 15px;
    background-color: yellow;
    text-align: center;
    padding :20px;
    font-size: larger;
    color: maroon;
    font-weight: bolder;
    line-height: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.subhead{
    margin-top: 15px;
    background-color: red;
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}

table{
    margin-top: 15px;
}
td{
    padding: 5px;
    border:6px white solid
}

.trtd1{
    background-color:green;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
    width: 31%;
}

.trtd2{
    background-color:blueviolet;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
    width: 31%;
}

.trtd3{
    
    background-color:blue;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
    width: 31%;
}

.trtd4{
    background-color:black;
    text-align: left;
    color: white;
    text-decoration: underline;
}

.tr2td1{
    margin-top: 20px;
    background-color: chocolate;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.lastbox{
    background-color: turquoise;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}